@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;500&family=Playfair+Display:wght@700&family=Roboto:wght@400;500;700&display=swap');

body {
    background-blend-mode: overlay;
    background-color: #B50B21;
    background-image: url("data:image/svg+xml,%3Csvg%20width%3D%221116%22%20height%3D%22892%22%20viewBox%3D%220%200%201116%20892%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Cg%20style%3D%22mix-blend-mode%3Aoverlay%22%3E%0A%3Cpath%20d%3D%22M1469.91%20483.342C1603.94%20335.909%201594.53%20105.634%201449%20-30.4401C1386.87%20-88.7281%201306.29%20-123.429%201221.25%20-128.524C1121.29%20-134.575%201025.44%20-169.751%20941.724%20-224.86C695.528%20-386.984%20359.241%20-348.702%20155.825%20-121.502C-66.7479%20127.219%20-45.3902%20512.434%20202.942%20735.396C438.038%20946.481%20791.444%20938.747%201016.77%20733.648C1091.2%20665.951%201180.74%20616.375%201278.88%20594.499C1352.53%20578.107%201419.27%20539.269%201469.91%20483.342Z%22%20stroke%3D%22white%22%20stroke-width%3D%222.67821%22%20stroke-miterlimit%3D%2210%22%2F%3E%0A%3C%2Fg%3E%0A%3Cg%20style%3D%22mix-blend-mode%3Aoverlay%22%3E%0A%3Cpath%20d%3D%22M1434.79%20475.898C1561.78%20336.167%201552.88%20117.962%201414.96%20-10.9931C1356.07%20-66.2311%201279.71%20-99.1122%201199.11%20-103.932C1104.33%20-109.562%201013.59%20-142.99%20934.247%20-195.252C700.962%20-348.866%20382.15%20-312.59%20189.478%20-97.2977C-21.4135%20138.414%20-1.18837%20503.436%20234.167%20714.748C456.934%20914.766%20791.83%20907.453%201005.37%20713.065C1075.82%20648.928%201160.7%20601.941%201253.74%20581.198C1323.53%20565.681%201386.79%20528.889%201434.79%20475.898V475.898Z%22%20stroke%3D%22white%22%20stroke-width%3D%222.67821%22%20stroke-miterlimit%3D%2210%22%2F%3E%0A%3C%2Fg%3E%0A%3Cg%20style%3D%22mix-blend-mode%3Aoverlay%22%3E%0A%3Cpath%20d%3D%22M1399.59%20468.456C1519.55%20336.426%201511.14%20130.292%201380.85%208.45622C1325.23%20-43.7085%201253.11%20-74.7673%201176.98%20-79.3369C1087.41%20-84.7734%201001.69%20-116.26%20926.743%20-165.609C706.338%20-310.744%20405.162%20-276.475%20223.136%20-73.059C23.9269%20149.611%2043.0517%20494.473%20265.398%20694.103C475.74%20883.054%20792.222%20876.161%20993.955%20692.518C1060.52%20631.907%201140.74%20587.541%201228.63%20567.931C1294.53%20553.254%201354.26%20518.499%201399.59%20468.456V468.456Z%22%20stroke%3D%22white%22%20stroke-width%3D%222.67821%22%20stroke-miterlimit%3D%2210%22%2F%3E%0A%3C%2Fg%3E%0A%3Cg%20style%3D%22mix-blend-mode%3Aoverlay%22%3E%0A%3Cpath%20d%3D%22M1364.51%20460.981C1477.48%20336.718%201469.55%20142.621%201346.87%2027.9369C1294.51%20-21.1965%201226.59%20-50.4482%201154.91%20-54.7433C1070.58%20-59.8562%20989.876%20-89.4981%20919.299%20-135.967C711.805%20-272.624%20428.233%20-240.329%20256.854%20-48.8214C69.165%20160.808%2087.2543%20485.51%20296.592%20673.457C494.733%20851.438%20792.609%20844.966%20982.628%20671.969C1045.28%20614.885%201120.84%20573.109%201203.55%20554.663C1265.6%20540.829%201321.83%20508.1%201364.51%20460.981V460.981Z%22%20stroke%3D%22white%22%20stroke-width%3D%222.67821%22%20stroke-miterlimit%3D%2210%22%2F%3E%0A%3C%2Fg%3E%0A%3Cg%20style%3D%22mix-blend-mode%3Aoverlay%22%3E%0A%3Cpath%20d%3D%22M1329.36%20453.506C1435.31%20337.009%201427.87%20154.919%201312.83%2047.3533C1263.72%201.23202%201200.02%20-26.2451%201132.77%20-30.3111C1053.69%20-35.1004%20977.996%20-62.8978%20911.82%20-106.487C717.206%20-234.633%20451.27%20-204.376%20290.505%20-24.7775C114.595%20171.972%20131.487%20476.514%20327.816%20652.78C513.628%20819.629%20793.026%20813.545%20971.136%20651.388C1029.93%20597.897%201100.77%20558.676%201178.24%20541.364C1236.5%20528.441%201289.31%20497.741%201329.36%20453.506V453.506Z%22%20stroke%3D%22white%22%20stroke-width%3D%222.67821%22%20stroke-miterlimit%3D%2210%22%2F%3E%0A%3C%2Fg%3E%0A%3Cg%20style%3D%22mix-blend-mode%3Aoverlay%22%3E%0A%3Cpath%20d%3D%22M1294.22%20446.095C1328.49%20408.375%201351.39%20361.74%201360.3%20311.566C1369.21%20261.392%201363.75%20209.722%201344.57%20162.513C1325.38%20115.304%201293.25%2074.4783%201251.86%2044.7419C1210.48%2015.0055%201161.54%20-2.43037%201110.68%20-5.55575C1036.83%20-10.0538%20966.155%20-36.0067%20904.347%20-76.7481C722.612%20-196.481%20474.313%20-168.166%20324.226%20-0.442837C159.934%20183.136%20175.693%20467.485%20359.014%20632.069C532.529%20787.883%20793.416%20782.188%20959.748%20630.775C1014.76%20580.81%201080.77%20544.211%201153.23%20528.063C1207.57%20515.966%201256.82%20487.331%201294.22%20446.095V446.095Z%22%20stroke%3D%22white%22%20stroke-width%3D%222.67821%22%20stroke-miterlimit%3D%2210%22%2F%3E%0A%3C%2Fg%3E%0A%3Cg%20style%3D%22mix-blend-mode%3Aoverlay%22%3E%0A%3Cpath%20d%3D%22M1259.08%20438.62C1290.92%20403.581%201312.21%20360.254%201320.49%20313.637C1328.77%20267.021%201323.7%20219.013%201305.87%20175.152C1288.05%20131.29%201258.18%2093.3612%201219.73%2065.7394C1181.28%2038.1176%201135.8%2021.9282%201088.54%2019.0383C1019.94%2014.8638%20954.277%20-9.24449%20896.87%20-47.0412C813.394%20-101.599%20713.135%20-124.449%20614.263%20-111.448C515.39%20-98.4466%20424.446%20-50.4559%20357.912%2023.8276C205.269%20194.398%20219.928%20458.586%20390.272%20611.488C551.49%20756.235%20793.835%20750.928%20948.355%20610.258C999.322%20563.854%201060.77%20529.843%201128.08%20514.99C1178.6%20503.71%201224.37%20477.025%201259.08%20438.62V438.62Z%22%20stroke%3D%22white%22%20stroke-width%3D%222.67821%22%20stroke-miterlimit%3D%2210%22%2F%3E%0A%3C%2Fg%3E%0A%3Cg%20style%3D%22mix-blend-mode%3Aoverlay%22%3E%0A%3Cpath%20d%3D%22M1223.94%20431.178C1253.34%20398.812%201273%20358.796%201280.64%20315.743C1288.29%20272.69%201283.61%20228.353%201267.14%20187.844C1250.68%20147.335%201223.11%20112.303%201187.6%2086.7878C1152.09%2061.2725%201110.09%2046.3125%201066.44%2043.6326C1003.08%2039.7817%20942.438%2017.518%20889.4%20-17.3987C812.3%20-67.7923%20719.696%20-88.8967%20628.374%20-76.8871C537.052%20-64.8774%20453.054%20-20.5482%20391.604%2048.066C250.61%20205.595%20264.137%20449.591%20421.44%20590.843C570.296%20724.523%20794.196%20719.636%20936.937%20589.71C984.021%20546.833%201040.78%20515.444%201102.94%20501.561C1149.59%20491.197%201191.87%20466.604%201223.94%20431.178V431.178Z%22%20stroke%3D%22white%22%20stroke-width%3D%222.67821%22%20stroke-miterlimit%3D%2210%22%2F%3E%0A%3C%2Fg%3E%0A%3C%2Fsvg%3E%0A");
    background-repeat: no-repeat;
    background-size: 57%;
    background-position: right top
}

body main {
    margin: 2px;
    padding: 0px 185px;
}

nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: white;
    font-family: 'Roboto', sans-serif;
    padding: 2px;
}

nav .menu {
    padding: 22px;
    display: flex;
    flex-wrap: wrap;
    gap: 70px;
}

nav .bar {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    gap: 50px;
    margin-right: 50px;
}

nav .bar :hover {
    list-style: none;
    gap: 50px;
    scale: 1.05;
    font-weight: bold;
}

nav li a {
    color: white;
    text-decoration: none;
}

nav .login-button-index {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -5px;
    width: 70px;
    height: 30px;
    background-color: #F7C85A;
    border: solid;
    border-color: #F7C85A;
    border-radius: 6.7px;
    text-decoration: none;
    color: white;
}

.login-button-index:hover{
    scale: 1.08;
}

nav .login-button-index a {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 12px;
    color: black;
    text-decoration: none;
}

/*Content di Halaman Index*/
content {
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
}

.box-gambar {
    background-image: url(img/hero-img.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 600px;
    width: 500px;
}

/*Form Masukkan Resi*/
content form {
    margin-top: 80px;
    width: 370px;
    color: white;
}

content form h1 {
    margin-top: 0;
    font-family: 'Playfair Display', sans-serif;
    font-size: 90px;
    line-height: 80px;
}

content form h3 {
    font-family: 'Roboto', sans-serif;
    margin-top: 13px;
    height: 0;
}

content form input {
    margin-top: 13px;
    width: 352px;
    height: 40px;
    border: solid;
    border-radius: 6.7px;
    border-color: white;
    color: black;
    padding-inline-start: 10px;
    font-size: 14px;
}


content form button {
    margin-top: 13px;
    padding: 10px 32px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    background-color: #F7C85A;
    border: solid;
    border-color: #F7C85A;
    border-radius: 6.7px;
}

/*id di index*/
#cek-resi-button:hover {
    scale: 1.02;
}

/*login-page*/

.main-login-page {
    text-align: center;
    align-items: center;
}

.login-page {
    margin-left: auto;
    margin-right: auto;
    color: white;
    padding: 120px 50px;
    text-align: center;
}

nav .bar-login-page {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    gap: 50px;
}

nav .bar-login-page :hover {
    list-style: none;
    gap: 50px;
    scale: 1.05;
    font-weight: bold;
}


.login-page .login {
    width: 800px;
    gap: 10px;
    margin-left: auto;
    margin-right: auto;
    display:grid;
}
.login-page .login h1 {
    font-family: 'Roboto', sans-s
}

.login-page .login input {
    font-size: 14px;
    color: white;
    border: 2px solid;
    border-color: white;
    border-radius: 6.7px;
    background: none;
    margin-left: auto;
    margin-right: auto;
    padding-inline-start: 10px;
    width: 300px;
    height: 40px;
}

.login-page .login input::-webkit-input-placeholder {
    color: white;
}

.login-page button {
    font-weight: bold;
    margin-top: 20px;
    border: #F7C85A;
    border-radius: 6.7px;
    background-color: #F7C85A;
    margin-left: auto;
    margin-right: auto;
    width: 310px;
    height: 50px;
}

.forget-password {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    margin-top: 10px;
    width: 310px;
    text-align: right;
    margin-left: auto;
    margin-right: auto;
}

.forget-password:hover {
    scale: 1.01;
    font-weight:500;
}

#login-button-login-page {
    font-family: Roboto;
    font-weight: 500;
    background-color: #F7C85A;
    margin-left: 240px;
    margin-right: 240px;
    height: 40px;
    border-radius: 6.7px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#login-button-login-page:hover {
    scale: 1.01;
}

/*Halaman Admin*/

.wrapper-admin-page {
    height:fit-content;
    padding: 10px;
}

.container-packet-form {
    background-color:#FCFCFC;
    border-radius: 20px;
    height: max-content;
    margin: 80px 140px;
    padding: 30px 60px;
}

.title-in-form {
    color: #696969;
    text-align: left;
    font-family: 'Inter';
    font-size: 13px;
}

.form-customer {
    display: flex;
    justify-content: space-between;
    font-family: 'Inter';
    font-size: 16px;
    line-height: 40px;
}

.label-input {
    display:flex;
    flex-direction: column;
    gap: 7px;
}

.input-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: fit-content;
}

.customer-information {
    color: #696969;
    border-bottom: 2px solid #ABABAB;
    padding-bottom: 40px;
}

.customer-information .form-customer {
    line-height: 35px;
    word-spacing: 10px;
}

.delivery-address {
    color: #696969;
    border-bottom: 2px solid #ABABAB;
    padding-bottom: 40px;
}

.delivery-address .form-customer {
    line-height: 35px;
    word-spacing: 10px;
}

.package-information {
    color: #696969;
    padding-bottom: 15px;
}

.package-information .form-customer {
    line-height: 35px;
    word-spacing: 10px;
}

#full-name, #address, #contact, #address-in-delivery, #city ,#s-province, #postal-code, #type, #weight, #dimension {
    background-color: #E7e7e7;
    border: none;
    border-radius: 3px;
    height: 30px;
    width: 300px;
    
}

#submit-button-admin {
    float: right;
    background-color:#F7C85A;
    border: none;
    border-radius: 4px;
    padding: 10px 25px;
}

#submit-button-admin a {
    font-family: 'Inter';
    color: black;
    font-weight: 700;
    text-decoration: none;
}

#submit-button-admin:hover {
    scale: 1.08;
}

@media all and (min-width: 1024px) and (max-width: 1280px) {
    html {
        width: 1280px;
    }
    body {
        background-repeat:repeat;
        background-size: cover;
        height: 100vh;
    }
    
    body main {
        margin: 0px;
        padding: 0px 40px;
    }
    
    nav {
        align-items: center;
        justify-content: space-between;
        padding: 0px 2px;
    }

    .brand {
        font-size: 30px;
    }
    
    nav .menu {
        padding: 2px;
        justify-content: center;
        display: contents;
    }
    
    nav .bar {
        display: flex;
        flex-wrap: wrap;
    }

    .bar-login-page {
        font-size: 20px;
    }

    /*Halaman Index*/
    content {
        display: flex;
        justify-content: space-between;
    }
    
    .box-gambar {
        background-image: url(https://s3-alpha-sig.figma.com/img/b953/25df/b120dac35bb5b4bf85f399a3899c4b3e?Expires=1687737600&Signature=OB5KEtO~uwtcFOjlkI-170MmKNr6QP4OLFnt5aUdwpcCtvrCmkk~Mu~xMBcjblJctVo9dxrpiQDTm77MAgVJseVJsvcCTBn82k2En2jaA0VHRKdXTSssPzCnolHoeOs1f1DlCHuptaCwRrYyUkcruLCWQv6gQjIvu8s-cK-RkwBr5P8n2TOa3ZJuwq9CLpabK1cxyN-ix95hEyPR~SGlUuuq8Bc7X2KCmx3J~5WjV99nng2hSP5noPCBk~8ZomHSUlnFX-zJzdvgfisOK-VLOHAqC2gzai7QvcDaqU3FNYIsUU9vU91piSzZJgarm7FBaVbmzC9CBaq5H1TCJohqNw__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4);
        background-repeat: no-repeat;
        height: 100vh;
        width: max-content;
        display: flex;
    }

    content form {
        display: block;
        justify-content: center;
        height:max-content;
        color: white;
}

    content form h1 {
        margin-top: 0;
}
    /*Halaman Admin*/
    .wrapper-admin-page {
    display: flex;
    justify-content: center;
}

    .container-packet-form {
    width:40vh;
    height: fit-content;
    padding: 15px 30px;
    margin: 12px;
}

    .title-in-form {
    font-size: 12px;
}

    .form-customer {
    font-size: 16px;
}

    .customer-information {
    padding-bottom: 20px;
}

    .customer-information .form-customer {
    line-height: 40px;
    word-spacing: 8px;
}

    .delivery-address {
    padding-bottom: 20px;
}

    .delivery-address .form-customer {
    line-height: 40px;
    word-spacing: 8px;
}

    .package-information {
    padding-bottom: 60px;
}

    .package-information .form-customer {
    line-height: 40px;
    word-spacing: 8px;
}

.input-form {
    gap: 16px;
}

    #submit-button-admin {
    margin-top: -30px;
    margin-bottom: 30px;
}

    #full-name, #address, #contact, #address-in-delivery, #city ,#s-province, #postal-code, #type, #weight, #dimension {
    width: 200px;
    height: 30px;
}
}

@media all and (min-width: 768px) and (max-width: 1024px) { 
    html {
        width: 1024px;
    }
    body {
        background-repeat:repeat;
        background-size: cover;
        height: 100vh;
    }
    
    body main {
        margin: 0px;
        padding: 0px 40px;
    }
    
    nav {
        align-items: center;
        justify-content: space-between;
        padding: 0px 2px;
    }

    .brand {
        font-size: 30px;
    }
    
    nav .menu {
        padding: 2px;
        justify-content: center;
        display: contents;
    }
    
    nav .bar {
        display: flex;
        flex-wrap: wrap;
    }
    
    /*Halaman Index*/
    content {
        display: flex;
        justify-content: space-between;
    }
    
    .box-gambar {
        background-image: url(https://s3-alpha-sig.figma.com/img/b953/25df/b120dac35bb5b4bf85f399a3899c4b3e?Expires=1687737600&Signature=OB5KEtO~uwtcFOjlkI-170MmKNr6QP4OLFnt5aUdwpcCtvrCmkk~Mu~xMBcjblJctVo9dxrpiQDTm77MAgVJseVJsvcCTBn82k2En2jaA0VHRKdXTSssPzCnolHoeOs1f1DlCHuptaCwRrYyUkcruLCWQv6gQjIvu8s-cK-RkwBr5P8n2TOa3ZJuwq9CLpabK1cxyN-ix95hEyPR~SGlUuuq8Bc7X2KCmx3J~5WjV99nng2hSP5noPCBk~8ZomHSUlnFX-zJzdvgfisOK-VLOHAqC2gzai7QvcDaqU3FNYIsUU9vU91piSzZJgarm7FBaVbmzC9CBaq5H1TCJohqNw__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4);
        background-repeat: no-repeat;
        height: 100vh;
        width: max-content;
        display: flex;
    }

    /*Form Masukkan Resi*/
    content form {
        display: block;
        justify-content: center;
        height:max-content;
        color: white;
}

    content form h1 {
        margin-top: 0;
}

    /*Halaman Admin*/
    .wrapper-admin-page {
    display: flex;
    justify-content: center;
}

    .container-packet-form {
    width: 60vh;
    height: fit-content;
    padding: 15px 30px;
    margin: 12px
}

    .title-in-form {
    color: #696969;
    text-align: left;
    font-family: 'Inter';
    font-size: 12px;
}

    .form-customer {
    font-family: 'Inter';
    font-size: 16px;
    text-align: right;
}

    .customer-information {
    border-bottom: 2px solid #ABABAB;
    padding-bottom: 20px;
}

    .customer-information .form-customer {
    line-height: 40px;
    word-spacing: 8px;
}

.delivery-address {
    color: #696969;
    border-bottom: 2px solid #ABABAB;
    padding-bottom: 20px;
}

.delivery-address .form-customer {
    line-height: 40px;
    word-spacing: 8px;
}

.package-information {
    color: #696969;
    padding-bottom: 60px;
}

.package-information .form-customer {
    line-height: 40px;
    word-spacing: 8px;
}

.input-form {
    gap: 16px;
}

#submit-button-admin {
    margin-top: -35px;
    background-color:#F7C85A;
    border: none;
    border-radius: 4px;
    padding: 10px 25px;
    margin-bottom: 40px;
}

#submit-button-admin a {
    font-family: 'Inter';
    color: black;
    font-weight: 700;
    text-decoration: none;
}

#full-name, #address, #contact, #address-in-delivery, #city ,#s-province, #postal-code, #type, #weight, #dimension {
    background-color: #E7e7e7;
    width: 200px;
    border: none;
    border-radius: 3px;
    height: 30px;
}

}

@media all and (min-width: 480px) and (max-width: 768px) { 
    html {
        width: 768px;
    }
    body {
        background-repeat:repeat;
        background-size: cover;
        height: 100vh;
    }
    
    body main {
        margin: 0px;
        padding: 0px 15px;
    }
    
    nav {
        align-items: center;
        justify-content: space-between;
        text-align: center;
        padding: 0px 10px;
    }

    .brand {
        font-size: 30px;
    }
    
    nav .menu {
        padding: 2px;
        justify-content: space-between;
        display: contents;
    }
    
    nav .bar {
        width: 150px;
        display: contents;
        flex-wrap: wrap;
    }

    

    
    /*Content di Halaman Index*/
    content {
        justify-content: center;
        display: flex;
        align-items: center;
    }
    
    .box-gambar {
        display: none;
    }

    /*Form Masukkan Resi*/
content form {
    display:block;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: max-content;
    height:max-content;
    color: white;
}

content form h1 {
    font-size: 150px;
    text-align: center;
    line-height: 130px;
    margin-top: 0;
}

content form h3 {
    text-align: center;
    font-size: 25px;
}

content form input {
    margin-top: 20px;
    width: 450px;
    height: 40px;
}

#cek-resi-button {
    margin-top: 20px;
    width: 460px;
    height: 60px;
}

    .main-login-page {
    text-align: center;
    align-items: center;
    padding: 0px 20px;
}

    .login-page {
    padding: 0;
    height: 100vh;
    display: block;
    color: white;
    text-align: center;
}

    .login-page .login {
    display:block;
    width: 70vh
}

    .login-page .login h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
    justify-content: center;
    text-align: center;
}

    .forget-password {
    width:fit-content;
}
.main-admin-page {
    text-align: center;
    align-items: center;
    padding: 0px 20px;
}

.wrapper-admin-page {
    height: fit-content;
    padding: 10px;
}

.container-packet-form {
    height: fit-content;
    padding: 15px 30px;
    margin: 12px
}

.title-in-form {
    color: #696969;
    text-align: left;
    font-family: 'Inter';
    font-size: 12px;
}

.form-customer {
    font-family: 'Inter';
    font-size: 16px;
    text-align: right;
}

.customer-information {
    border-bottom: 2px solid #ABABAB;
    padding-bottom: 20px;
}

.customer-information .form-customer {
    line-height: 40px;
    word-spacing: 8px;
}

.delivery-address {
    color: #696969;
    border-bottom: 2px solid #ABABAB;
    padding-bottom: 20px;
}


.delivery-address .form-customer {
    line-height: 40px;
    word-spacing: 8px;
}

.package-information {
    color: #696969;
    padding-bottom: 60px;
}

.package-information .form-customer {
    line-height: 40px;
    word-spacing: 8px;
}

.input-form {
    gap: 10px;
}

#submit-button-admin {
    margin-top: -35px;
    background-color:#F7C85A;
    border: none;
    border-radius: 4px;
    padding: 10px 25px;
    margin-bottom: 40px;
}

#submit-button-admin a {
    font-family: 'Inter';
    color: black;
    font-weight: 700;
    text-decoration: none;
}

#full-name, #address, #contact, #address-in-delivery, #city ,#s-province, #postal-code, #type, #weight, #dimension {
    background-color: #E7e7e7;
    width: 250px;
    border: none;
    border-radius: 3px;
    height: 35px;
}
   
}

@media all and (max-width: 480px) {

    html {
        width: 480px;
    }
    body {
        background-repeat:repeat;
        background-size: cover;
        height: 100vh;
    }
    
    body main {
        margin: 0px;
        padding: 0px 2px;
    }
    
    nav {
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 0px 2px;
    }

    .brand {
        font-size: 30px;
        height: 100px;
    }
    
    nav .menu {
        padding: 2px;
        align-items: center;
        text-align: center;
        justify-content: center;
        display: contents;
    }

    nav .bar {
        display: flex;
        flex-wrap: wrap;
    }

    /*Content di Halaman Index*/
    content {
        justify-content: center;
        display: flex;
        align-items: center;
    }
    
    .box-gambar {
        display: none;
    }

    /*Form Masukkan Resi*/
    content form {
    display: block;
    text-align: center;
    align-items: center;
    justify-content: center;
    height:max-content;
    color: white;
}

    content form h1 {
    text-align: center;
    margin-top: 0;
}

    content form h3 {
    text-align: center;
}

    .main-login-page {
    text-align: center;
    align-items: center;
    padding: 0;
}

    .login-page {
    padding: 0;
    height: 100vh;
    display: block;
    color: white;
    text-align: center;
}

    .bar-login-page {
    padding: 8px 12px;
    border: solid white;
    border-radius: 10px;
}

    .login-page .login {
    display:block;
    width: fit-content;
}
    .login-page .login h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
    justify-content: center;
    text-align: center;
}

    .login-page input {
        margin-bottom: 5px;
    }

    .forget-password {
    width:fit-content;
}
    .main-admin-page {
    text-align: center;
    align-items: center;
    padding: 0;
}

.wrapper-admin-page {
    height: fit-content;
    padding: 10px;
}

.container-packet-form {
    height: fit-content;
    padding: 15px 30px;
    margin: 12px
}

.title-in-form {
    color: #696969;
    text-align: left;
    font-family: 'Inter';
    font-size: 8px;
}

.form-customer {
    font-family: 'Inter';
    font-size: 12px;
    text-align: right;
}

.customer-information {
    border-bottom: 2px solid #ABABAB;
    padding-bottom: 20px;
}

.customer-information .form-customer {
    line-height: 35px;
    word-spacing: 8px;
}

.delivery-address {
    color: #696969;
    border-bottom: 2px solid #ABABAB;
    padding-bottom: 20px;
}

.delivery-address .form-customer {
    line-height: 35px;
    word-spacing: 8px;
}

.package-information {
    color: #696969;
    padding-bottom: 20xpx;
}

.package-information .form-customer {
    line-height: 35px;
    word-spacing: 8px;
}

#submit-button-admin {
    margin-top: -10px;
    background-color:#F7C85A;
    border: none;
    border-radius: 4px;
    padding: 10px 25px;
}

#submit-button-admin a {
    font-family: 'Inter';
    color: black;
    font-weight: 700;
    text-decoration: none;
}

#full-name, #address, #contact, #address-in-delivery, #city ,#s-province, #postal-code, #type, #weight, #dimension {
    width:200px ;
}

}

